{% extends "layout.html" %}
    {% block main %}

        <article id="title">
            <header>
                <hgroup>
                    <!--Fånga fel nr 404: fel URL -->
                    <h2 align="center">Fel nr: {{e}}</h2>
                </hgroup>
            </header>
            <p>Om</p>
        </article>

        <article>
            <header>
                <hgroup>
                    <h2>Om</h2>
                </hgroup>
            </header>
            <p align="center">
                Kunde tyvärr inte hitta URL:en. Prova igen.
            </p>
        </article>



    {% endblock %}


