{% extends "layout.html" %}
{% block main %}

    <article id="title">
        <header>
            <hgroup>
                <h2>KONTAKTUPPGIFTER</h2>
            </hgroup>
        </header>
    </article>

    <article>
        <p>
            <b>TELEFON</b>
            <br>
            <i>0046735311754</i>
        </p>
        <p>
            <b>MAIL</b>
            <br>
            <a href="mailto:preybird (at) preybird . se">
                Tryck här
            </a>
        </p>
        <p>
            <b>TWITTER</b>
            <br>
            <a href="https://twitter.com/ProgrammerPer" target="_blank">
                @ProgrammerPer
                </a>
        </p>
        <p>
            <b>LINKEDIN</b>
            <br>
            <a href="http://se.linkedin.com/in/djpjgj/" target="_blank">
            Tryck här
        </a>
        </p>
    </article>

{% endblock %}


{% block side %}

    <h3>Lyssna på Pers musik</h3>
    <p2>
        <br>
        Hemsida<br>
        <a title="Pers musik" href="http://www.preybird.se" target="_blank">PREYBIRD Productions</a>
        <br><br>
        Widget
        <object height="220" width="220">
            <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2043359&amp;auto_play=false&amp;player_type=artwork&amp;color=5a041a">
            </param>
            <param name="allowscriptaccess" value="always"></param>
            <embed allowscriptaccess="always" height="220" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2043359&amp;auto_play=false&amp;player_type=artwork&amp;color=5a041a" type="application/x-shockwave-flash" width="220">
            </embed>
        </object>
    </p2>

{% endblock %}
