{% extends "layout.html" %}
{% block main %}

    <article id="title">
        <header>
            <hgroup>
                <h2>Per-sonlig presentation</h2>
            </hgroup>
        </header>
        <p>
            Jag är en driven person som ser till att lägga 100 % av mig själv i det jag gör,
            och min drivkraft i livet är att ägna mig åt det jag brinner för.
            Nu lägger jag mitt 110-procentiga fokus på kandidatutbildningen Innovativ Programmering
            (180 hp) på Linköpings universitet.
            Datorer har alltid varit ett intresse, och programmering har funnits med i bilden länge;
            jag läste Matematik/Data-inriktning på gymnasiet och har även läst enstaka datakurser
            på högskolan tidigare och gjort praktik på en systemteknikavdelning, innan nuvarande satsning.
        </p>

        <p>
            Efter 4 år i arbetslivet inom säkerhetsbranschen och ett påfrestande nattjobb
            kände jag att det var dags för att våga något nytt och verkligen satsa på ett
            av mina största intressen – som också är ett framtidsyrke.
        </p>
        <p>
            Innovativ Programmering är en utbildning som jag valt med omsorg och jobbat ihop
            pengar som lagts på hög för att kunna finansiera utbildningen. Det som lockade
            mig är orienteringen mot hantverkskunnande och att jobba lyhört mot branschen.
            Vi lägger större på delen av utbildningen på att programmera och
            att jobba i projekt, en mindre del läggs på teoretiska ämnen. Då jag är praktiskt
            lagd passar det mig bra att få lära mig hands-on i en gemensam IP-community.
            Vi får programmera i många olika språk, och den agila utvecklingsmetodiken
            står modell.
        </p>
        <p>
            Mitt tidigare arbete har gett mig många erfarenheter. Jag har framför allt lärt mig
            vad det innebär att jobba hårt och göra sitt jobb ordentligt och yrkesmässigt.
            Passen är långa (12-13 timmar) och man har stort ansvar samtidigt som mycket ska
            hinnas med. Man får också möjligheten att interagera med många människor under tiden.
        </p>

        <p>
            Musikskrivande och musikproduktion är annars de främsta intressena utöver programmeringen.
            Jag har ett eget företag och har gett ut två skivor under egen etikett. Komponerar bl.a.
            reklammusik för ett brittiskt bolag. Mellan åren 2005 och 2008 läste jag
            på Musikproducentprogrammet på Campus Norrköping, Linköpings tekniska högskola,
            och fick sedan jobb som ljudtekniker.
        </p>

        <p>
            Språk har alltid fascinerat. Jag gillar att lära mig nya språk – talade, skrivna och
            programmerade. Från gymnasie- och grundskolan har jag latin, ryska, spanska och tyska
            i bagaget. På universitet har det dessutom blivit lingvistikstudier, samt engelska-
            och retorikkurser utöver det.
        </p>
    </article>

{% endblock %}


{% block side %}

    <h3> Om Per</h3>

<p2>
<br>
Ålder: 28 år <br>
Bor: Norrköping<br>
Körkort: B <br>
Intressen: Musik, teknik, sport
</p2>

{% endblock %}
