{% extends "layout.html" %}
    {% block main %}

        <article>
            <header>
                <hgroup>
                    <h2>Lista över projekt med {{namn}}</h2>
                </hgroup>
            </header>
        <p>Klicka på projektnamnen för att komma till projektsidorna</p>
            <p>
                <br>
                <!-- statistiken finns listad i stats -->
                {% for stat in stats %}
                    <b>Projektnamn</b>: <a href="../projects/{{stat["id"]}}">{{stat["name"]}} </a>
                    <br>
                {% endfor %}
            </p>
        </article>
        <!-- Listar statistik för en specifik teknik (namn) -->


    {% endblock %}

    <!-- Komprimerad vy över tekniker, med länkar -->
    {% block side %}
        <h3>Tekniker</h3>
        <p>
            {% for t in techniques %}
                <li><a href="./{{t}}">{{t}} </a> </li>
            {% endfor %}
        </p>
    {% endblock %}

